@font-face {
  font-family: 'togoshi';
  src: url('../fonts/togoshi-gothic/togoshi-gothic.min.woff2');
}

@font-face {
  font-family: 'pigmo';
  src: url('../fonts/pigmo01/pigmo01.min.woff2');
}

body {
  background-color: black;
}

p, a {
  font-size: 2.8rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-family: 'pigmo' !important;
  font-size: 5rem;
  margin-bottom: 2.4rem;
}

h2 {
  font-size: 2.8rem;
  margin-bottom: 1.4rem;
}

.home, .gallery, .settings, .content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  text-align: center;

  width: 100%;
  height: 100%;
}

/*
  Animation
*/
.blinking {
  opacity: 0;
  animation: blinking 3s linear infinite;
}
  @keyframes blinking {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }

.fadein-long {
  opacity: 0;
  animation: fadein-long 2s ease forwards;
}
  @keyframes fadein-long {
    100% { opacity: 1; }
  }

.fadeout-long {
  opacity: 1;
  animation: fadeout-long 2s ease forwards;
}
  @keyframes fadeout-long {
    100% { opacity: 0; }
  }

.fadein {
  opacity: 0;
  animation: fadein .3s ease forwards;
}
  @keyframes fadein {
    100% { opacity: 1; }
  }

.fadeout {
  opacity: 1;
  animation: fadeout 0.3s ease forwards;
}
  @keyframes fadeout {
    100% { opacity: 0; }
  }
