@font-face {
  font-family: 'togoshi';
  src: url('../fonts/togoshi-gothic-20080629/togoshi-gothic.ttf');
}

@font-face {
  font-family: 'pigmo';
  src: url('../fonts/pigmo01/Pigmo-01.otf');
}

html {
  font-size: 62.5%;
}

body {
  background-color: black;
}

p, a {
  font-size: 2.8rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-family: 'pigmo' !important;
  font-size: 5rem;
  margin-bottom: 2.4rem;
}

h2 {
  font-size: 2.8rem;
  margin-bottom: 1.4rem;
}

.home, .gallery, .settings, .content {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  text-align: center;

  width: 100%;
  height: 100%;
}

/*
  Animation
*/
.fadein-long {
  opacity: 0;
  animation: fadein-long 2s ease forwards;
}
  @keyframes fadein-long {
    100% { opacity: 1; }
  }

.fadeout-long {
  opacity: 1;
  animation: fadeout-long 2s ease forwards;
}
  @keyframes fadeout-long {
    100% { opacity: 0; }
  }

.fadein {
  opacity: 0;
  animation: fadein .3s ease forwards;
}
  @keyframes fadein {
    100% { opacity: 1; }
  }

.fadeout {
  opacity: 1;
  animation: fadeout 0.3s ease forwards;
}
  @keyframes fadeout {
    100% { opacity: 0; }
  }

.fadein-text {
  opacity: 0;
  animation: fadein-text .1s ease forwards;
}
  @keyframes fadein-text {
    100% { opacity: 1; }
  }
